name: Kpm Packaging

on:
  push:
    branches:
      - master

jobs:
  build-deb:
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.read_version.outputs.VERSION }}
      vname: ${{ steps.read_version.outputs.VNAME }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install deps
        run: sudo apt update && sudo apt install -y cmake make gcc g++ zlib1g-dev libuv1-dev libssl-dev python3 python3-dev

      - name: Configure
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DLTRACE=OFF -DUSB_SUPPORT=OFF -DGH_ACTION_MODE=ON -DCREATE_PACKAGE=ON

      - name: Build
        run: cmake --build build --parallel --target install

        # Make VERSION and VNAME available
      - name: Read version
        run: | 
          cat build/manifest.json | python3 -c "import json,sys;o=json.load(sys.stdin);print(f\"export VERSION={o['version']}\");print(f\"export VNAME={o['vname']}\");" > build/setenv.sh
          chmod +x build/setenv.sh
          source ./build/setenv.sh
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "VNAME=$VNAME" >> $GITHUB_OUTPUT
        id: read_version

      - name: Generate artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-linux
          path: build/*.tar.gz

  build-win:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            vcpkg_installed
            buildtrees
            packages
          key: vcpkg-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
          restore-keys: |
            vcpkg-${{ runner.os }}

      - name: Install dependencies
        run: |
          choco install cmake python3 --no-progress -y

      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git C:\\vcpkg
          C:\\vcpkg\\bootstrap-vcpkg.bat

      - name: Configure
        run: |
          cmake -B build -DCMAKE_BUILD_TYPE=Release -DLTRACE=OFF -DGH_ACTION_MODE=ON -DCMAKE_TOOLCHAIN_FILE="C:\\vcpkg\\scripts\\buildsystems\\vcpkg.cmake" -DCREATE_PACKAGE=ON

      - name: Build
        run: cmake --build build --parallel --config Release --target install

        # Make VERSION and VNAME available
      - name: Read version
        run: | 
          Get-Content build\manifest.json | ConvertFrom-Json | ForEach-Object {
            Write-Output "VERSION=$($_.version)" >> $ENV:GITHUB_OUTPUT
            Write-Output "VNAME=$($_.vname)" >> $ENV:GITHUB_OUTPUT
          }
        id: read_version

      - name: Generate artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-windows
          path: build/*.tar.gz

  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write # Allow write for automated releases

    needs:
      - build-deb
      - build-win

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download package deb
        uses: actions/download-artifact@v4
        with:
          name: dist-linux
          path: artifacts/linux

      - name: Download package win
        uses: actions/download-artifact@v4
        with:
          name: dist-windows
          path: artifacts/windows

      - name: Generate release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.build-deb.outputs.version }}-${{ needs.build-deb.outputs.vname }}-r${{ github.run_number }}
          files: |
            artifacts/linux/*
            artifacts/windows/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
